# ðŸ‘‹ Hello World: Your First ML Engineer Notebook

<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

Welcome! This notebook is your friendly introduction to Python and Pandas â€” the foundation of data science and machine learning.

You'll learn how to:
- Install Python packages (like Pandas)
- Load and explore data from a CSV file
- Print your own messages in Python

Ready? Let's go! ðŸš€

---

<h5> ðŸ›  How to use Jupyter Notebooks </h5>

1. **Run cells one-by-one**  
   - Click on a cell (grey or white box) and press `Shift` + `Enter` to run it.  
   - Code cells will execute Python, Markdown cells will render formatted text.

2. **Don't worry if you see errors â€” they help you learn!**

3. **Restart & Run All**  
   - If you think somethingâ€™s broken, go to **Kernel â†’ Restart & Run All** in the menu to start fresh.
</div>

<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

<h4>Setup instructions for local VS Code users </h4>

Step 1 â€” Open a terminal and create a virtual environment (only once):  
ðŸ Using Python's built-in venv
```bash
python -m venv .venv
# If that's not working, try
py -m venv .venv

#  Activate (Windows)
.venv\Scripts\activate

#  Activate (Mac/Linux)
source .venv/bin/activate
```
ðŸ’¡ Tip: Always make sure your VS Code kernel is set to the same environment you activated here.  
In VS Code: Command Palette â†’ Python: Select Interpreter â†’ Choose .venv

Step 2 â€” Install dependencies
```bash
pip install pandas
```

Step 3 â€” Select Kernel in the Jupyter notebook:  
In the top right corner of this notebook: Select Kernel -> Python Environments -> Choose .venv

Then youâ€™re ready to run the notebook below!
</div>

Uncomment below lines to import pandas package

In [2]:
import pandas as pd

print("âœ… Pandas:", pd.__version__)

âœ… Pandas: 3.0.0

Great! Now let's load some data.

We'll use pandas to open a small sample CSV file named "Iris.csv". 

If you want to try with your own CSV file, just replace the filename in the code below.

In [3]:
# Load data
tips = pd.read_csv('Iris.csv')

# Show the first 5 rows
tips.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Nice, you just loaded your first dataset!

## DataFrames & Series: The Building Blocks of Pandas

Pandas has two main data structures that you'll use constantly:

- **Series**: A one-dimensional array-like object (like a single column of data)
- **DataFrame**: A two-dimensional table with rows and columns (like a spreadsheet)

Let's explore these with our Iris dataset!

In [4]:
# Let's examine our DataFrame
print("DataFrame shape (rows, columns):", tips.shape)
print("DataFrame columns:", list(tips.columns))

DataFrame shape (rows, columns): (150, 6)
DataFrame columns: ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [5]:
print("DataFrame info:")
tips.info()

DataFrame info:
<class 'pandas.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    str
dtypes: float64(4), int64(1), str(1)
memory usage: 7.2 KB

In [6]:
# Extract a Series (single column)
species_series = tips['Species']
print("\nSpecies Series:")
print(species_series)

Species Series:
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: str

In [7]:
# Check Series properties
print("\nSeries name:", species_series.name)
print("Series dtype:", species_series.dtype)

Series name: Species
Series dtype: str

## Reading & Writing Data

Pandas can read from and write to many file formats. The most common is CSV, but you can also work with Excel, JSON, SQL databases, and more.

Common read functions:
- `pd.read_csv()` - for CSV files
- `pd.read_excel()` - for Excel files
- `pd.read_json()` - for JSON files

Common write functions:
- `df.to_csv()` - write to CSV
- `df.to_excel()` - write to Excel
- `df.to_json()` - write to JSON

In [8]:
# Reading data with options
iris_data = pd.read_csv('Iris.csv', index_col=0)  # Use first column as index
print("Data with custom index (note, that the index is now the first column):")
iris_data

Data with custom index (note, that the index is now the first column):

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# Writing data to a new CSV file
iris_sample = tips.head(10)  # Take first 10 rows
iris_sample.to_csv('iris_sample.csv', index=False)  # Save without the index
print("\nSaved first 10 rows to 'iris_sample.csv'")

# Check what we just saved
sample_check = pd.read_csv('iris_sample.csv')
print("Verification - saved data shape:", sample_check.shape)

Saved first 10 rows to 'iris_sample.csv'
Verification - saved data shape: (10, 6)

Note, you can save the dataframe with the index as well, by omitting `index=False` parameter.   
That way the index will be saved as a separate column in the CSV file. Try it out and see the difference!

## Data Selection & Indexing

Selecting data is one of the most important skills in pandas. Here are the key methods:

- **Column selection**: `df['column_name']` or `df[['col1', 'col2']]`
- **Label-based indexing**: `df.loc[row_label, column_label]`
- **Position-based indexing**: `df.iloc[row_position, column_position]`
- **Boolean indexing**: `df[df['column'] > value]`

Let's practice these techniques!

In [10]:
# Column selection
print("Single column selection:")
print(tips['Species'].head()) # Display first 5 values of 'Species' column

Single column selection:
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: str

In [11]:
print("\nMultiple column selection:")
print(tips[['SepalLengthCm', 'Species']].head()) # Display first 5 rows of selected columns

Multiple column selection:
   SepalLengthCm      Species
0            5.1  Iris-setosa
1            4.9  Iris-setosa
2            4.7  Iris-setosa
3            4.6  Iris-setosa
4            5.0  Iris-setosa

In [12]:
# Label-based indexing (.loc)
print("\nLabel-based selection (first row, Species column):")
print(tips.loc[0, 'Species'])

Label-based selection (first row, Species column):
Iris-setosa

In [20]:
# Position-based indexing (.iloc)
print("\nPosition-based selection (first row, second column):")
print(tips.iloc[0, 1])

Position-based selection (first row, second column):
5.1

In [14]:
# Boolean indexing
print("\nBoolean indexing (rows where SepalLengthCm > 5.0):")
long_sepals = tips[tips['SepalLengthCm'] > 5.0]
print(long_sepals[['SepalLengthCm', 'Species']].head())

Boolean indexing (rows where SepalLengthCm > 5.0):
    SepalLengthCm      Species
0             5.1  Iris-setosa
5             5.4  Iris-setosa
10            5.4  Iris-setosa
14            5.8  Iris-setosa
15            5.7  Iris-setosa

In [15]:
# Combining selections
print("\nCombining selections (specific rows and columns):")
print(tips.loc[0:2, ['SepalLengthCm', 'SepalWidthCm', 'Species']])

Combining selections (specific rows and columns):
   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa

Note, that `.loc` includes the stop index `2`, while `.iloc` excludes it.  
So, `.iloc` is consistent with Python slicing, but `.loc` is not.  
This is done to make `.loc` more intuitive when working with labeled data.

In [18]:
print("\nEquivalent selection using .iloc:")
print(tips.iloc[0:3, [1, 2, 5]])  # Rows 0 to 2, Columns 1, 2, 5

Equivalent selection using .iloc:
   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa

Now, let's print a motivating message to celebrate your progress.

In [21]:
print("ðŸŽ‰ Congratulations on running your first notebook! Keep exploring and coding â€” you're on the path to becoming a great ML engineer! ðŸš€")

ðŸŽ‰ Congratulations on running your first notebook! Keep exploring and coding â€” you're on the path to becoming a great ML engineer! ðŸš€