#  Pandas for ML Engineers ‚Äî AI/ML Salaries Dataset Analysis

<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

This notebook is **your hands-on playground** to master essential pandas operations and best practices every Machine Learning engineer should know.  
You‚Äôll work through exercises, explore real-world dataset (AI/ML Salaries Dataset), and learn how to write clean, efficient, and production-ready pandas code.

---

<h4> üí™ Why this matters </h4>
For an ML engineer, **data wrangling is 80% of the job**. The faster and cleaner you can manipulate data:
- The quicker you get to meaningful insights.
- The fewer bugs you introduce.
- The smoother your pipeline runs in production.

Here, you‚Äôll learn not only *how* to use pandas, but also *why* certain practices matter in the real world.

---

<h4> üõ† How to use this notebook (especially if you‚Äôre new to Jupyter Notebooks) </h4>

1. **Run cells one-by-one**  
   - Click on a cell (grey or white box) and press `Shift` + `Enter` to run it.  
   - Code cells will execute Python, Markdown cells will render formatted text.

2. **Write your answers in the `# TODO` sections**  
   - Each exercise has space for your solution.  
   - Try to solve it before looking at the answer.

3. **Reveal solutions** (only after trying!)  
   - Scroll to the end of an exercise.  
   - Click the small triangle ‚ñ∂ next to **"Solution"** to expand it.  
   - Compare your answer and learn from any differences.

4. **Restart & Run All**  
   - If you think something‚Äôs broken, go to **Kernel ‚Üí Restart & Run All** in the menu to start fresh.

---

<h4> üí° Tips for success </h4>
- Read the <b>Best Practice</b> boxes carefully ‚Äî these are the habits that make you an effective ML engineer.
- Experiment! Change parameters, try different methods, and see what happens.
- Periodically save your work
- If you‚Äôre new to pandas, keep the [official documentation](https://pandas.pydata.org/pandas-docs/stable/) handy.

---

Let‚Äôs dive in! üöÄ

</div>


<h2 style="color:#2b6cb0">1. Setup & Data Loading</h2>

<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

<h4> ‚öôÔ∏è Setup & Environment </h4>

To avoid conflicts with other Python projects, it‚Äôs recommended to create a virtual environment.

---

<h5> Local Setup (VS Code) </h5>

Step 1 ‚Äî Open a terminal and create a virtual environment (only once):  
üêç Using Python's built-in venv
```bash
python -m venv .venv
# If that's not working, try
py -m venv .venv

#  Activate (Windows)
.venv\Scripts\activate

#  Activate (Mac/Linux)
source .venv/bin/activate
```
üí° Tip: Always make sure your VS Code kernel is set to the same environment you activated here.  
In VS Code: Command Palette ‚Üí Python: Select Interpreter ‚Üí Choose .venv

Step 2 ‚Äî Install dependencies
```bash
pip install pandas
```

Step 3 ‚Äî Select Kernel in the Jupyter notebook:  
In the top right corner of this notebook: Select Kernel -> Python Environments -> Choose .venv
</div>

In [1]:
import pandas as pd


print("‚úÖ Pandas:", pd.__version__)

‚úÖ Pandas: 3.0.0

# Dataset Structure

The dataset contains one table structured as follows:

**work_year**: The year the salary was paid.

**experience_level**: The experience level in the job during the year with the following possible values:
- EN: Entry-level / Junior
- MI: Mid-level / Intermediate
- SE: Senior-level / Expert
- EX: Executive-level / Director

**employment_type**: The type of employment for the role:
- PT: Part-time
- FT: Full-time
- CT: Contract
- FL: Freelance

**job_title**: The role worked in during the year.

**salary**: The total gross salary amount paid.

**salary_currency**: The currency of the salary paid as an ISO 4217 currency code.

**salary_in_usd**: The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com).

**employee_residence**: Employee's primary country of residence during the work year as an ISO 3166 country code.

**remote_ratio**: The overall amount of work done remotely, possible values are as follows:
- 0: No remote work (less than 20%)
- 50: Partially remote
- 100: Fully remote (more than 80%)

**company_location**: The country of the employer's main office or contracting branch as an ISO 3166 country code.

**company_size**: The average number of people that worked for the company during the year:
- S: less than 50 employees (small)
- M: 50 to 250 employees (medium)
- L: more than 250 employees (large)

In [8]:
# Load data
df = pd.read_csv('salaries.csv')

In [9]:
# YOUR TURN ‚Äî Basic checks (TODO)
# 1) Print the shape of the DataFrame
# 2) Show column names and dtypes
# 3) Display first 5 rows
print('Shape:', df.shape)

print('Column names and D-types:')
print(df.dtypes)

df.head()

Shape: (73148, 11)
Column names and D-types:
work_year             int64
experience_level        str
employment_type         str
job_title               str
salary                int64
salary_currency         str
salary_in_usd         int64
employee_residence      str
remote_ratio          int64
company_location        str
company_size            str
dtype: object

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
1,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
2,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
3,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
4,2025,SE,FT,Engineer,143000,USD,143000,US,0,US,M

<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
print('shape:', df.shape)
print('\ncolumns & dtypes:')
print(df.dtypes)
print('\nfirst rows:')
display(df.head())
```
</details>

<h2 style="color:#2c7a7b">2. Basic Exploration</h2>

Before building models, it‚Äôs essential to **understand your dataset‚Äôs structure and behavior**.  
Exploring basic statistics and distributions helps you:

- Detect **data quality issues** (missing values, outliers, inconsistent scales)
- Identify **feature ranges and variability** (important for scaling and normalization)
- Understand **relationships** that may guide feature engineering

In [15]:
# YOUR TURN ‚Äî Basic exploration (TODO)
# - Run df.info()
# - Run df.describe(include='all')
# - Show number of missing values per column

print('\ntable info')
print(df.info())

print('\ntable description')
display(df.describe(include='all'))

print('\nnumber of missing values per column')
print(df.isna().sum())

table info
<class 'pandas.DataFrame'>
RangeIndex: 73148 entries, 0 to 73147
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           73148 non-null  int64
 1   experience_level    73148 non-null  str
 2   employment_type     73148 non-null  str
 3   job_title           73148 non-null  str
 4   salary              73148 non-null  int64
 5   salary_currency     73148 non-null  str
 6   salary_in_usd       73148 non-null  int64
 7   employee_residence  73148 non-null  str
 8   remote_ratio        73148 non-null  int64
 9   company_location    73148 non-null  str
 10  company_size        73148 non-null  str
dtypes: int64(4), str(7)
memory usage: 6.1 MB
None

table description

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,73148.000000,73148,73148,73148,7.314800e+04,73148,73148.000000,73148,73148.000000,73148,73148
unique,NaN,4,4,289,NaN,25,NaN,93,NaN,86,3
top,NaN,SE,FT,Data Scientist,NaN,USD,NaN,US,NaN,US,M
freq,NaN,42926,72808,11443,NaN,69418,NaN,65982,NaN,66035,70536
mean,2023.831192,NaN,NaN,NaN,1.625534e+05,NaN,158013.748619,NaN,21.582955,NaN,NaN
std,0.477551,NaN,NaN,NaN,1.925761e+05,NaN,72501.304728,NaN,41.023051,NaN,NaN
min,2020.000000,NaN,NaN,NaN,1.400000e+04,NaN,15000.000000,NaN,0.000000,NaN,NaN
25%,2024.000000,NaN,NaN,NaN,1.069575e+05,NaN,106890.000000,NaN,0.000000,NaN,NaN
50%,2024.000000,NaN,NaN,NaN,1.480000e+05,NaN,147500.000000,NaN,0.000000,NaN,NaN
75%,2024.000000,NaN,NaN,NaN,2.000000e+05,NaN,199700.000000,NaN,0.000000,NaN,NaN
max,2025.000000,NaN,NaN,NaN,3.040000e+07,NaN,800000.000000,NaN,100.000000,NaN,NaN

number of missing values per column
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
df.info()
print('\nSummary statistics:')
display(df.describe(include='all'))

print('\nMissing values per column:')
print(df.isna().sum())
```
</details>

In [ ]:
df.info()
print('\nSummary statistics:')
display(df.describe(include='all'))

print('\nMissing values per column:')
print(df.isna().sum())

<h2 style="color:#276749">3. Filtering & Selection</h2>

Your Mission: Master the art of data selection and indexing.
Use boolean masks and `.loc` for safe selection & assignment.

In [35]:
# YOUR TURN 
# TODO: Filter data for specific conditions:
# 1. Senior-level (SE) employees only
# 2. Salaries above $100,000 USD
# 3. Remote ratio of 100% (fully remote)
# 4. Combine multiple conditions
# Your code here

is_senior = df.loc[df['experience_level'] == 'SE']
high_salary = df.loc[df['salary_in_usd'] > 100_000]
#fully_remote = df.loc['remote_ratio'] == 100

print(f'SENIOR LEVEL:')
display(is_senior.head())
print(f'SENIOR LEVEL EXPERIENCE HAS ***{len(is_senior)}*** RECORDS')


print(f'SALARIES OVER $100,000 USD HAS: ***{len(high_salary)}*** RECORDS')


#print(f'REMOTE SETTING IS 100%')
#display(df.loc[fully_remote])

#print(f'ALL CONDITIONS COMBINED')
#display(df.loc[is_senior & high_salary & fully_remote])

SENIOR LEVEL:

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
1,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
2,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
3,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
4,2025,SE,FT,Engineer,143000,USD,143000,US,0,US,M

SENIOR LEVEL EXPERIENCE HAS ***42926*** RECORDS
SALARIES OVER $100,000 USD HAS: ***56838*** RECORDS


<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
# Filter senior-level employees
senior_employees = df.loc[df['experience_level'] == 'SE']
senior_employees
print(f"Senior employees:  {senior_employees.head()}")
print(f"Senior employees: {len(senior_employees)} records")

# High-salary positions
high_salary = df.loc[df['salary_in_usd'] > 100000]
print(f"High salary positions (>$100K): {len(high_salary)} records")

# Fully remote positions
fully_remote = df.loc[df['remote_ratio'] == 100]
print(f"Fully remote positions: {len(fully_remote)} records")

# Combined conditions - Senior, high salary, fully remote
premium_jobs = df.loc[
    (df['experience_level'] == 'SE') & 
    (df['salary_in_usd'] > 100000) & 
    (df['remote_ratio'] == 100)
]
print(f"Premium jobs (Senior + High Salary + Remote): {len(premium_jobs)} records")

# Display top job titles for premium positions
print("\nTop job titles for premium positions:")
print(premium_jobs['job_title'].value_counts().head())
```
</details>


<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

<b>üí° Best practice: Use <code>.loc[mask, columns]</code> for filtering and assignment</b>

When selecting rows and columns in Pandas, always use <code>.loc</code> with explicit row and column indexing, like:

```python
df.loc[mask, ['col1']]
```
instead of chained indexing like:

```python
df[mask]['col1']
```
Why?
Avoids "SettingWithCopyWarning": Chained indexing can return a view or a copy unpredictably, so assignments may not work as intended, leading to bugs.

<h2 style="color:#2b6cb0">4. Sorting</h2>

In [ ]:
# YOUR TURN 
# TODO: Perform the following sorting operations:
# 1. Sort by salary in descending order and print top 5 highest salaries
# 2. Sort by multiple columns: experience_level, then salary
# 3. Find top 10 highest paid positions

<details>
<summary><b>Hint ‚Äî click to expand</b></summary>

Use sort_values
</details>

<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
# 1. Sort by salary (descending)
salary_sorted = df.sort_values('salary_in_usd', ascending=False)
print("Top 5 highest salaries:")
print(salary_sorted[['job_title', 'experience_level', 'salary_in_usd']].head())

# 2. Multi-column sorting: experience level, then salary
multi_sorted = df.sort_values(['experience_level', 'salary_in_usd'], ascending=[True, False])
print("\nTop salaries by experience level:")
print(multi_sorted[['experience_level', 'job_title', 'salary_in_usd']].head(10))

# 3. Top 10 highest paid positions (more efficient than sort_values)
top_10_salaries = df.nlargest(10, 'salary_in_usd')
print("\nTop 10 highest paid positions:")
print(top_10_salaries[['job_title', 'experience_level', 'company_size', 'salary_in_usd']])
```
</details>

In [ ]:
# 1. Sort by salary (descending)
salary_sorted = df.sort_values('salary_in_usd', ascending=False)
print("Top 5 highest salaries:")
print(salary_sorted[['job_title', 'experience_level', 'salary_in_usd']].head())

# 2. Multi-column sorting: experience level, then salary
multi_sorted = df.sort_values(['experience_level', 'salary_in_usd'], ascending=[True, False])
print("\nTop salaries by experience level:")
print(multi_sorted[['experience_level', 'job_title', 'salary_in_usd']].head(10))

# 3. Top 10 highest paid positions (more efficient than sort_values)
top_10_salaries = df.nlargest(10, 'salary_in_usd')
print("\nTop 10 highest paid positions:")
print(top_10_salaries[['job_title', 'experience_level', 'company_size', 'salary_in_usd']])


<h2 style="color:#2c7a7b">5. Grouping & Aggregation</h2>

Your Mission: Unleash the power of groupby for insightful aggregations.
Use `groupby` + `agg`.

In [ ]:
# YOUR TURN 
# TODO: Calculate average salary by:
# 1. Experience level
# 2. Company size
# 3. Remote ratio
# 4. Experience level AND company size (multi-level groupby)

In [ ]:
# Average salary by experience level 
salary_by_experience = (df.groupby('experience_level')
                       .agg(avg_salary=('salary_in_usd', 'mean'))
                       .reset_index().round(2))
print("Salary statistics by experience level:")
print(salary_by_experience)

# Average salary by company size 
salary_by_company_size = (df.groupby('company_size')
                         .agg(avg_salary=('salary_in_usd', 'mean'))
                         .reset_index()
                         .sort_values('avg_salary', ascending=False)
                         .round(2))
print("\nAverage salary by company size:")
print(salary_by_company_size)

# Average salary by remote ratio 
salary_by_remote = (df.groupby('remote_ratio')['salary_in_usd']
                   .agg(avg_salary='mean')
                   .reset_index()
                   .sort_values('avg_salary', ascending=False)
                   .round(2))
print("\nAverage salary by remote ratio:")
print(salary_by_remote)

# Multi-level groupby with named aggregation
multi_group = (df.groupby(['experience_level', 'company_size'])['salary_in_usd']
              .agg(
                  avg_salary='mean'
              )
              .reset_index()
              .sort_values('avg_salary', ascending=False)
              .round(2))
print("\nSalary by experience level and company size:")
print(multi_group)

<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
salary_by_experience = (df.groupby('experience_level')
                       .agg(avg_salary=('salary_in_usd', 'mean'))
                       .reset_index().round(2))
print("Salary statistics by experience level:")
print(salary_by_experience)

# Average salary by company size 
salary_by_company_size = (df.groupby('company_size')
                         .agg(avg_salary=('salary_in_usd', 'mean'))
                         .reset_index()
                         .sort_values('avg_salary', ascending=False)
                         .round(2))
print("\nAverage salary by company size:")
print(salary_by_company_size)

# Average salary by remote ratio 
salary_by_remote = (df.groupby('remote_ratio')['salary_in_usd']
                   .agg(avg_salary='mean')
                   .reset_index()
                   .sort_values('avg_salary', ascending=False)
                   .round(2))
print("\nAverage salary by remote ratio:")
print(salary_by_remote)

# Multi-level groupby with named aggregation
multi_group = (df.groupby(['experience_level', 'company_size'])['salary_in_usd']
              .agg(
                  avg_salary='mean'
              )
              .reset_index()
              .sort_values('avg_salary', ascending=False)
              .round(2))
print("\nSalary by experience level and company size:")
print(multi_group)
```
</details>

<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

<b>üí° Best practice: Use <code>groupby</code> + <code>agg</code> with named aggregation and reset the index</b>

In Pandas, the <code>groupby</code> operation is fundamental for summarizing data by categories, such as calculating averages, counts, or other statistics for each group.

---

**Key points for ML engineers:**

- Use the <code>.agg()</code> method with **named aggregation** syntax to create clear, readable summaries with custom column names.  
- After aggregation, use <code>.reset_index()</code> to convert the group keys from the index back into regular columns. This makes the DataFrame easier to merge or use downstream.

---

**Why it matters:**

- Named aggregation makes your code **self-documenting**, so it's easier to understand which statistics are being calculated.
- Resetting the index avoids confusing MultiIndex objects, which can complicate further processing or merging.
- This approach fits well into ML pipelines where feature engineering often requires grouped summary statistics.

---

**Example:**

```python
# Compute mean and standard deviation of 'body_mass_g' grouped by 'species'
salary_by_experience = (df.groupby('experience_level')
                       .agg(avg_salary=('salary_in_usd', 'mean'))
                       .reset_index())

<h2 style="color:#2c7a7b">6. Creating New Columns</h2>

Your Mission: Transform raw data into ML-ready features.


<div style="background-color:#1e293b;padding:15px;border-left:6px solid #38bdf8;color:#e2e8f0">

<b>üí° Best practice: Avoid in-place edits on DataFrame slices; use <code>.copy()</code> and return new DataFrames</b>

When you select a subset (slice) of a DataFrame using filtering or indexing, Pandas may return a **view** or a **copy**. Modifying this slice directly can lead to unexpected behavior or the infamous <code>SettingWithCopyWarning</code>.

---

**Why avoid in-place edits on slices?**

- Pandas does not guarantee whether your slice is a view (modifies original data) or a copy (modifies only the slice).
- Modifying a view may cause side effects on the original DataFrame.
- Modifying a copy may not affect the original DataFrame, leading to bugs if you expect it to.
- You may receive warnings, making your code noisy and less reliable.

---

**How to avoid these issues:**

- Always use <code>.copy()</code> when creating slices you intend to modify:

```python
subset = df.loc[mask].copy()
subset['new_col'] = some_transformation
```

In [ ]:
# TODO: Create the following new features:
# 1. is_senior (boolean for senior+ positions)
# 2. is_remote_friendly (boolean for remote_ratio > 50)

In [ ]:
# Create new features
df_features = df.copy()

# 1. Senior position indicator
df_features['is_senior'] = df['experience_level'].isin(['SE', 'EX'])

# 2. Remote friendly indicator
df_features['is_remote_friendly'] = df['remote_ratio'] > 50


# Display the new features
print("New features created:")
print(f"\nSenior positions: {df_features['is_senior'].value_counts()}")
print(f"\nRemote friendly: {df_features['is_remote_friendly'].value_counts()}")

<details>
<summary><b>Solution ‚Äî click to expand</b></summary>

```python
# SOLUTION
# Create new features
df_features = df.copy()

# 1. Senior position indicator
df_features['is_senior'] = df['experience_level'].isin(['SE', 'EX'])

# 2. Remote friendly indicator
df_features['is_remote_friendly'] = df['remote_ratio'] > 50


# Display the new features
print("New features created:")
print(f"\nSenior positions: {df_features['is_senior'].value_counts()}")
print(f"\nRemote friendly: {df_features['is_remote_friendly'].value_counts()}")
```
</details>